doctype html
html(lang='en')
  head
    title= 'App Development'
    
    if env === 'dev'
      script(src='/reload/reload.js')

    script(src='vendor/amd-loadr/loadr.js')
    script(src='vendor/jquery/jquery.js')
    script(src='vendor/handlebars/handlebars.js')
    script(src='vendor/ember/ember.js')
    script(src='vendor/ember-resolver/dist/ember-resolver.js')

  body

    if env === 'dev'
      script(src='app.js')
      script(src='templates.js')

    if env === 'production'
      script(src='app.min.js')

    script(type='text/javascript').
      window.App = require('gulp/app')['default'].create();
