<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
      <link rel="stylesheet" href="../node_modules/mocha/mocha.css" />
    </head>
    <body>
        <div id="mocha"></div>
        <script src="../node_modules/mocha/mocha.js"></script>
        <script src="../node_modules/chai/chai.js"></script>
        <script>
        var expect = chai.expect;

        mocha.setup({
            ui: 'bdd',
            ignoreLeaks: true
        });

        onload = function () {
            mocha.run();
        };
        </script>
        <script type="text/javascript" src="vendor/amd-loadr/loadr.js"></script>
        <script type="text/javascript" src="vendor/jquery/jquery.js"></script>
        <script type="text/javascript" src="vendor/handlebars/handlebars.js"></script>
        <script type="text/javascript" src="vendor/ember/ember.js"></script>
        <script type="text/javascript" src="vendor/ember-data/ember-data.js"></script>
        <script type="text/javascript" src="vendor/ember-resolver/dist/ember-resolver.js"></script>

        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="test.js"></script>
        <script type="text/javascript">
            <% for(var x = 0; x < fileList.length; x++) { %>
                require('<%= fileList[x] %>');
            <% } %>
        </script>
    </body>
</html>
